@import url(https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap);

.container {
    font-family: 'Kosugi Maru', sans-serif;
}

html{
    /* background: linear-gradient(-135deg, #72e4be, #5fd841); */
    
}

h1 {
    font-family: 'Kosugi Maru', sans-serif;
}

h2{
    font-family: 'Kosugi Maru', sans-serif;
}

h3{
    font-family: 'Kosugi Maru', sans-serif;
}
