@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url('../../node_modules/materialize-css/dist/css/materialize.min.css');

.container {
    font-family: 'Roboto', sans-serif;
}

html{
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
}

.post-title{
    /* font-weight: thin; */
    /* color: #757575; */
    width: 100%;
    font-size: 35pt;
    margin-top: 1.5em !important;
}

h2{
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px rgb(38, 153, 4);/*左線*/
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 17pt;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px rgb(255, 162, 0);/*左線*/
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 17pt;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px rgb(0, 20, 131);/*左線*/
    font-style: normal;
}

header{
    margin-bottom: 1em;
    border-bottom: 2px #757575;
}

.maintitle{
    font-weight: bold;
}
/* .list{
    margin-left: 2em;
} */

strong{
    font-weight: bold !important;
}

.ul{
    list-style-type: disc !important;
}

.author-summary{
    color: rgb(75, 75, 75);
    font-size: 12px;
    font-style: italic;
}

ul, ol{
    margin-left: 2em;
}

.github-link{
    margin-left: 1em;
}

.caption{
    font-size: 90%;
    text-align: center;
    color: #757575;
    margin-bottom: 3em;
}