@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url('../../node_modules/materialize-css/dist/css/materialize.min.css');

.container {
    font-family: 'Roboto', sans-serif;
}

html{
    
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Roboto', sans-serif;
}
